<div class="center">
  <h3>
    <%=link_to @video.event.display_name, event_path(@video.event)%>
  </h3>
</div>
<%=render :partial => 'videos/video_player', :locals => { :video => @video} %>
<div class="center">
  <h2>
    <%= @video.title %>
    <%-if session.user && session.user.admin?%>
    <%=link_to edit_image_tag, edit_admin_video_path(@video)%>
    <%-end%>
  </h2>
  <span class="caption"><%= @video.display_presenters %></span>
  <div class="abstract">
    <%=RDiscount.new(@video.abstract).to_html%>
  </div>
</div>
<div class="center">
  <ul class="asset-list">
    <%=render :partial => 'asset_display', :collection => @video.assets.downloadable%>
  </ul>
</div>
<div class="clear"></div>
