<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-i" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="author" content="Confreaks, LLC" />
    <meta name="keywords" content="seminar, workshop, conference, video,
                                   conferencing, recording, record, network,
                                   powerpoint, presentation, keynote, speech,
                                   talk, lecture"/>
    <meta name="description" content="Expert recording and networking
                                      services for conferences, seminars
                                      and workshops." />
    <meta name="robots" content="all" />
    <link rel="alternat" type="application/rss+xml"
          title = "RSS" href="feeds2.feedburner.com/confreaks-general"/>
    <title>
      <%= h(yield(:title)) || "Confreaks, LLC"%>
    </title>
    <%=stylesheet_link_tag 'main.css'%>
    <%= javascript_include_tag :defaults %>
    <%= calendar_date_select_includes %>
    <%= yield(:head) %>
  </head>
  <body>
    <%=render :partial => 'shared/header'%>
    <div id="content">
      <div id="primary-content">
        <%=render :partial => 'shared/display_flash'%>
        <%= yield %>
      </div>
      <div id="secondary-content">
        <%=yield(:secondary_content)%>
        <br/>
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FConfreaks-LLC%2F115902641808919&amp;width=182&amp;colorscheme=light&amp;connections=10&amp;stream=false&amp;header=false&amp;height=340" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:182px; height:355px;" allowTransparency="true"></iframe>
      </div>
    </div>
    <div class="clear">
    </div>
    <%=render :partial => "shared/footer"%>
  </body>
</html>
